<h1>機器一覧</h1>

<table class="table table-user">
  <thead>
    <tr>
      <th>名称</th>
      <th>型番</th>
      <th>購入日</th>
    </tr>
  </thead>
  <tbody>
  <% @appliances.each do |appliance| %>
  <tr>
    <td><%= appliance.name %></td>
    <td><%= appliance.model_number %></td>
    <td><%= appliance.created_at %></td>
  </tr>
  <% end %>
</table>

<%= link_to '戻る', root_path %>
