<p>ユーザー用ページ:</p>
<ul>
  <li><%= link_to '機器一覧', appliances_path %></li>
</ul>

<p>管理者用ページ:</p>
<ul>
  <li><%= link_to 'ユーザ管理', admin_users_path %></li>
  <li><%= link_to '機器管理', admin_appliances_path %></li>
</ul>
