body {
  background-color: #f8f9fa;
}
.table-user thead th {
  background-color: #e0f7f5;
  color: #3a3a3a;
}
.table-user tbody tr:nth-child(odd) {
  background-color: #f0fbf9;
}
.table-user tbody tr:nth-child(even) {
  background-color: #faf6e8;
}
.table-user tbody td {
  color: #3a3a3a;
}

.table-admin thead th {
  background-color: #fde4e1;
  color: #3a3a3a;
}
.table-admin tbody tr:nth-child(odd) {
  background-color: #fff5f4;
}
.table-admin tbody tr:nth-child(even) {
  background-color: #fffcf7;
}
.table-admin tbody td {
  color: #3a3a3a;
}
